[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-bootstrap-components = "*"
plotly = "*"
pandas = "*"
python-decouple = "*"
requests = "*"
python-dateutil = "*"
flask-caching = "*"
gunicorn = "*"

[dev-packages]
black = "*"
pytest = "*"
coverage = "*"
coveralls = "*"
pylint = "==2.4.4"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
