/************************* 💻 Desktop Styling 💻 **************************/
/*
* ⚠️ ONLY APPLIES TO DESKTOP DON'T PUT COMMON STYLING OR MOBILE STYLING HERE ⚠️
*/

/*  Nav Bar */
/* #navbar {
    text-decoration: none;
} */


/*******COLOR VARIABLES*******/
:root{
    /* Nav Colors */
    --nav-bg-color:#010915;
    --nav-font-color:#FEFEFE;

    /* Font Colors */
    --font-color-tested:#AEAEAE;
    --font-color-confirmed:#F4B000;
    --font-color-deaths:#E55465;
    --font-color-deathrate:#DD1E34;

    /* Card Colors */
    --card-bg-color:#010915;
    --card-font-color:#F4F4F4;

    /* About Page Variables */
    --about-font-color:#fefefe;
    --about-font-color-black:black;
    --about-border-color:#fefefe;
    --about-bg-color:#19202A;
    --about-bg-color-light:#D2D2D2;

    --about-font-family:'Roboto', sans-serif ;


    /* Daily Stats */
    --daily-stats-font-family: 'Roboto', sans-serif; 
    --daily-stats-font-weight: 700;
    /* not using lato for now bc font weight is weird */

}

.navbar {
    background-color: var(--nav-bg-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: none;
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 58px;
    top: 0;
}

.navbar-toggler-1 {
    display: none;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none !important;
    padding-right: 53px;
}

#get-mobile-updates {
    border-radius: .3rem;
    border: 1px solid white;
    padding: .3rem 1rem;
    margin-right: -1rem;
}

#get-mobile-updates:hover {
    border-color: var(--font-color-confirmed);
    color: var(--font-color-confirmed);
}

.page-title-link:hover {
    text-decoration: none;
}

.navbar-brand-covid-19-text {
    font-weight: 600;
    font-size: 1.6rem;
    margin-left: .5rem;
    margin-bottom: auto;

}

.navbar-brand-us-cases-text {
    font-weight: 350;
    font-size: 1.6rem;
    text-shadow: none;
    margin-bottom: auto;
    margin-left: .5rem;

}


.right-tabs-last-updated-text {
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
    font-size: 11px;
    color: grey;
}



/*         Dropdown Location Menu                   */ 

/* .dropdown-location-menu .dropdown-toggle {
    background-color: #262a32;
    background-image: none;
    min-width: 150px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: .9rem;
    letter-spacing: .01rem;

}

.dropdown-menu.show {
    transform: translate3d(-1px, 45px, 0px);
    max-width: 150px;
}

.dropdown-menu { 
    min-width: 150px;
    background-color: #62686d;
}

.dropdown-item {
    color: #F4F4F4;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
} */

/* .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
} */

/* This targets the little drop down arrow on the location button */
/* .dropdown-location-menu .dropdown-toggle::after {
    margin-left: 43%;
} */

/* .dropdown .btn {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 35px;
} */

.navbar-brand-links {
    font-weight: 425;
    font-size: 1.05rem;
    letter-spacing: 0.01rem;
    text-shadow: none;
    padding-left: 5rem;
    margin-right: 0rem;
}

.navbar-brand-links:hover {
    text-decoration: none;
    color: #aaaaaa;
}

/* #navbar-resources-link {
    margin-right: 1.5rem;
    padding-left: 2.3rem;
} */





/* 📖 About Page Styling 📖 */

/* Every page is given some padding and margin, but I want the about page to fill the whole page so I need to negate it.
This isn't perfect so if anyone knows how to disable .page-content padding on the about page only please fix this */
#about-page {
    margin-left: -50px;
    margin-top: -25px;
}

#page-content {
    margin-top: 73px !important;
}

.about-page-title {
    font-family: var(--about-font-family);
    font-size: 2rem;
    padding-left: 7.5%;
    margin-bottom: 50px;
    margin-top: 0;
    font-weight: bold;
}

#about-page-second-third .about-page-title {
    padding-left: 125px;
    padding-bottom: 50px;
}

.about-section-title-container {
    border-left: 7px solid var(--about-border-color);
}

.about-section-text-container {
    border-left: 1px solid var(--about-border-color);
    margin-left: 3px;
}


.about-section {
    width: 40vw;
}

.about-section-title {
    font-family: var(--about-font-family);
    padding-left: 4%;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
}

.about-section-text {
    font-family: var(--about-font-family);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
}

.about-section-container {
    display: flex;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 100px;
}

.about-section-container-2 {
    display: flex;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 90px;
}

#about-page-second-third .about-section-container {
    padding-left: 5vw;
    padding-right: 5vw;
}

#about-page-second-third .about-section-container-2 {
    padding-left: 5vw;
    padding-right: 5vw;
}

.about-section-padding {
    padding-left: 7vw;
    padding-top: 7vw;
}

#about-page-first-third  {
    background-color: var(--about-bg-color);
    color: var(--about-font-color);
    margin-right: 0;
    padding-top: 120px;
}

#about-page-second-third  {
    background-color: #010915;
    color: var(--about-font-color);
    background-position: right top;
    background-image: url('../images/map_1.svg');
    background-repeat: no-repeat;
    background-size: 45%;
    padding-top: 100px;
    /* padding-bottom: 50px; */
}

#about-page-third-third  {
    background-color: var(--about-bg-color-light);
    padding-left: 10vw;
    color: var(--about-font-color-black);
    padding-bottom: 100px;
    padding-top: 100px;
}

.about-page-third {
    width: 103vw;
    height: 100%;
    padding-top: 50px; 
    margin-right: 0;
}

.top-bar-content {
    padding-top: 1.3rem;
    padding-bottom: .4rem;
    margin-right: 50px;
    margin-left: 50px;
}



.web-about-source {
    text-align: right;
    font-size: .75rem;
    color: var(--about-font-color);
}

.web-about-sources {
    padding-left: 7vw;
    margin-bottom: 1%;
    /* padding-top: %; */
}


#about-contributors-title {
    font-family: var(--about-font-family);
    font-size: 2.1rem;
    margin-bottom: 3%;
    text-shadow: none;
    font-weight: bold;
}

#about-contributors-subtitle {
    font-family: var(--about-font-family);
    font-size: 1.2rem;
    padding-bottom: 3%;
    padding-top:.5%;
    font-weight: 400;
    text-shadow: none;
}

.about-contributor-name {
    font-family: var(--about-font-family);
    padding-right: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}

.about-contributor-title {
    font-family: var(--about-font-family);
    font-size: 1.1rem;
}

.about-page-contributors {
    display: flex;
    flex-direction: row;
}

.about-page-contributor {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
    margin-bottom: 1%;
}

.about-contributor-social-icon {
    margin-right: 1%;
    width: 21px;
    height: 21px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: auto;
}

.about-contributor-github-icon {
    background-image: url('../images/Github.svg');
}

.about-contributor-linkedin-icon {
    background-image: url('../images/LinkedIN.svg');
}

.about-contributor-twitter-icon {
    background-image: url('../images/Twitter.svg');
}

/* Top Card Section */

.states-dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 0;
    font-family: var(--daily-stats-font-family);
    font-size: 2.3vw;
    max-width: 25%;
    flex: 0 0 25%;
    font-weight: var(--daily-stats-font-weight);
}

#states-dropdown {
    width: 100%;
    line-height: .7;
}

#states-dropdown .Select-input {
    background-color: transparent !important;
}

.states-dropdown .Select-control {
    background-color: transparent !important;
    border-color: transparent;
    overflow: auto;
    box-shadow: none !important;
    border-color: transparent !important;
    display: inline !important;
}

.states-dropdown .Select-multi-value-wrapper {
    display: inline !important;
}

.states-dropdown .Select-multi-value-wrapper .Select-value {
    display: inline !important;
    position: unset !important;
}


.states-dropdown .Select-value-label {
    display: inline !important;
    position: unset !important;
}

.states-dropdown .Select-input {
    display: inline !important;
}

.states-dropdown .Select-menu-outer {
    background-color: #1F242D;
    border-color: transparent;
    font-size: 1rem;
    z-index: 1000000;
}

.states-dropdown .Select-control .Select-value-label {
    color: white !important;
    cursor: pointer;
    font-weight: 500;
}

.states-dropdown .Select-arrow-zone {
    text-align: unset;
}

#states-dropdown:hover .Select-value-label, #states-dropdown:hover .Select-arrow {
    color: gray !important;
    /* border-color: gray !important; */
}




/* .parent:hover .child, .parent.hover .child */

/* #states-dropdown:hover {
    color: gray !important;
} */

/* .states-dropdown:hover {
    color: gray !important;
} */

.states-dropdown .Select-arrow {
    border-color: white transparent transparent;
    border-width: 10px 5px 2.5px;
}
#states-dropdown .is-open .Select-control {
    background-color: transparent;
}

#states-dropdown .is-open .Select-value-label {
    color: white;
}

#states-dropdown .is-open .Select-value-label {
    background-color: transparent;
}

#states-dropdown .is-open .Select-arrow {
    border-color: white transparent transparent;
    border-width: 10px 5px 2.5px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.top-bar-content-col {
    margin-left: auto;
    max-width: 75%;
}

.top-bar-content.row {
    margin-left: 0rem;
    margin-right: .78rem;
}

.top-bar-content.row .card-body {
    background-color: #19202A;
    box-shadow: none;
}

.card-body {
    background-color: var(--card-bg-color);
}

.top-bar-card-body .card-body {
    background-color: #19202A;
    padding: 0;

}

.top-bar-card-body {
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: none;
}

.top-bar-card-tested {
    color: var(--font-color-tested);
    text-align: center;
    font-size: .9rem;
    background-color: transparent;
    border: none;
    border-radius: .3rem;
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); */
    padding: .2rem; 
    font-family: var(--daily-stats-font-family);
}

.top-bar-card-tested.card{
    box-shadow: none;
}


.top-bar-value-tested {
    margin-top: -1.1rem;
    font-weight: var(--daily-stats-font-weight);
    font-size: 2.75vw;
    text-shadow: none;
}

.top-bar-card-confirmed {
    color: var(--font-color-confirmed);
    text-align: center;
    font-size: .9rem;
    background-color: transparent;
    border: none;
    border-radius: .3rem;
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); */
    padding: .2rem;
    font-family: var(--daily-stats-font-family);
}

.top-bar-card-confirmed.card{
    box-shadow: none;
}

.top-bar-value-confirmed {
    margin-top: -1.1rem;
    font-weight: var(--daily-stats-font-weight);
    font-size: 2.75vw;
    text-shadow: none;
}


.top-bar-card-deaths {
    color: var(--font-color-deaths);
    text-align: center;
    font-size: .9rem;
    background-color: transparent;
    border: none;
    border-radius: .3rem;
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); */
    padding: .2rem;
    font-family: var(--daily-stats-font-family);
}

.top-bar-card-deaths.card{
    box-shadow: none;
}

.top-bar-value-deaths {
    margin-top: -1.1rem;
    font-weight: var(--daily-stats-font-weight);
    font-size: 2.75vw;
    text-shadow: none;
}


.top-bar-card-death {
    /* color: #03DA32; */
    color: var(--font-color-deathrate);
    text-align: center;
    font-size: .9rem;
    background-color: transparent;
    border: none;
    border-radius: .3rem;
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); */
    padding: .2rem;
    font-family: var(--daily-stats-font-family);
}

.top-bar-card-death.card {
    box-shadow: none;

}

.top-bar-value-death {
    margin-top: -1.1rem;
    font-weight: var(--daily-stats-font-weight);
    font-size: 2.75vw;
    text-shadow: none;
}

.top-bar-perc-change-tested {
    color: #19202A;
    margin-top: -.7rem;
    font-size: .7rem;
}

.top-bar-perc-change-confirmed {
    color: #BDBDBD;
    margin-top: -.7rem;
    font-size: .7rem;
}

.top-bar-perc-change-deaths {
    color: #BDBDBD;
    margin-top: -.7rem;
    font-size: .7rem;
}

.top-bar-perc-change-death {
    color: #BDBDBD;
    margin-top: -.7rem;
    font-size: .7rem;
}

/* 🌎 Map Styling 🌎*/
#map-loading {
    margin-top: 22vh;
}

#map-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 60vh;
}

#chart-container {
    min-height: 20vh;
}

.main-svg {
    background-color: rgba(0, 0, 0, 0) !important;
}

.dash-graph {
    min-height: 20vh;
}

.middle-col-map-content.col-8 .card{
    background-color: #010915;
}

.middle-col-map-content.col-8 .card .card-body{
    padding: 0;
    background-color: #010915;
}

/* this is needed for map tabs formatting - i checked */
.tab.confirmed-us-map-tab.tab--selected, .tab.testing-us-map-tab , .tab.confirmed-us-map-tab {
    min-width: fit-content;
    border-top-left-radius:  0.3rem;
    padding: 0.5rem 1rem !important;
}

/* .tab.confirmed-us-map-tab.tab--selected  */

.card-header-tabs{
    margin-right:0%;
}

.jsx-2597805859.tab.testing-us-map-tab {
    border-top-right-radius: 0.3rem;
    padding: 0.5rem 1rem;
}

.middle-col-map-content.col-8 {
    max-width: 59%;
    padding-left: 1rem;
    padding-right: 1rem;
} 

.middle-styling {
    flex-wrap: nowrap;
}

.middle-col-map-content {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.graph-styling {
    padding: 0px;
}

.top-bar-us-map-heading-txt {
    font-size: 0.7rem;
    color: #F4F4F4;
    padding-top: 0.5rem;
    padding-left: 1rem;
    /* max-width: 57%; */
    /* margin-bottom: 1%; */
}

/* Chart Styling */

.bottom-chart-h1-title {
    font-size: 1.2rem;
    color: #F4F4F4;
    max-width: 100%;
    padding-left: 2%;
}

.bottom-chart-h2-title {
    font-size: .65rem;
    color: #F4F4F4;
    max-width: 100%;
    margin-top: 1%;
    margin-bottom: 8%;
    padding-left: 2%;
}

.top-bottom-charts {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.top-bottom-charts .card {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.top-bottom-left-chart , .top-bottom-mid-chart, .top-bottom-right-chart{
    padding: 0.5%;
}

.top-bottom-left-chart.col-6 .card , .top-bottom-mid-chart.col-6 .card, .top-bottom-right-chart.col-6 .card {
    margin-top: 1.2rem;
    margin-right: .7rem;
    margin-bottom: 3rem;
    padding: 1.2rem;
}



.top-bottom-charts .card-body {
    background: hsl(216, 91%, 4%);
    padding: 1.2rem;
}




/* https://community.plot.ly/t/is-it-possible-to-hide-the-floating-toolbar/4911 */
.modebar{
    display: none !important; 
    /* remove plotly toolbar */
}


/* 👈 Left  Twitter 🐦 News 📰 Feed Sidebar */

/* Active Tab Blur */
.tab--selected {
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, .4); */
    z-index: 100;
    position: relative;
    /* background-color: #1F242D; */
    border-bottom: 1px solid white !important;
}

.tab:hover {
    color: rgb(199, 199, 199) !important;
}

/* RIGHT SIDEBAR FEED STYLING */

.tweet-text {
    font-size: .75rem;
}

.middle-map-news-content.mt-3.no-gutters.row {
    margin-left: 1.2rem;
    margin-right: 1rem;
    border: none;
}

.jsx-2597805859.tab.left-news-tab {
    border-top-right-radius: 0.4rem;
}


/* get rid of tab padding */
.card-header {
    max-width:100%;
    padding: 0 0 .75rem 0;
}

.left-col-twitter-feed-content p {
    margin-bottom: 1rem;
    height: 100%;
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); */
}
 
.left-col-twitter-feed-content.col-2, .right-col-stats-content.col-2{
    flex: 0 0 19.666667%;
    max-width: 19.666667%;
}


.left-col-twitter-feed-content.col-2 .card .card-body {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.left-col-twitter-feed-content.col-2 .list-group-item {
    background-color: none
}


.left-col-twitter-feed-content .card-body {
    height: 60vh;
    overflow: scroll;
    padding-bottom: 0;
}  

/* cards inside the sidebar for tweets and news */

.left-col-feed-cards-text .tweet-item.list-group-item {
    background-color: var(--card-bg-color);
}

.left-col-feed-cards-text .list-group .list-group-flush li {
    background-color: none
}

.tweet-item.list-group-item , .news-item.list-group-item{
    background-color: transparent;
    border: none;
}


/* .tweet-item p */

/* overflow disable scroll bar */
.left-col-feed-cards-text {
    overflow-y: scroll;
    height: 73.5vh;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.left-col-feed-cards-text::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.left-col-twitter-feed-content {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.left-col-twitter-feed-content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.news-item {
    border-bottom: 1px solid rgb(83, 83, 83) !important;
    padding: 0;
    margin: 0;
}

.news-item-container {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 1rem;
    padding-bottom: 0;
    line-height: 1.35;
    color: #F4F4F4;
}

.news-item:hover {
    color: rgb(199, 199, 199) !important;
    text-decoration: none !important;
}

.tweet-item:hover {
    color: rgb(199, 199, 199) !important;
    text-decoration: none !important;
}



.tweet-item {
    border-bottom: 1px solid rgb(83, 83, 83) !important;
    padding: 0;
    margin: 0;
}

.tweet-item-container {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 1rem;
    padding-bottom: 0;
    line-height: 1.35;
    color: #F4F4F4;
}

p.tweet-dt {
    margin-bottom: 0;
}

/* Tweet/News Acticle Headline and source */

.news-txt-headline {
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.35;
}

.news-txt-by-dt {
    font-size: 0.6rem;
}

.tweet-text {
    font-size: .75rem;
    font-weight: normal;
}

.tweet-dt {
    font-size: 0.6rem;
    color: #F4F4F4;
}

#mobile-feed-tabs-styled-with-inline {
    padding-bottom: 12px;
}


.jsx-1990498210.tab.left-twitter-tab.tab--selected {
    border-top-left-radius: 0.4rem;
}

.left-twitter-tab {
    border-top-left-radius: 0.4rem;
} 


.left-col-twitter-feed-content .card-body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    padding-left: 0;
    padding-right: 0;
}

.left-col-twitter-feed-content .card-body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.left-col-twitter-feed-content {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.left-col-twitter-feed-content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* 👉👉👉👉LEFT SIDEBAR STATS TABLE STYLING */


#stats-content {
    margin-bottom: 0;

}

.stats-table-col.card-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.3rem;
}

.right-col-news-feed-content.col-2 {
    margin-left: 0.3rem;
}

.right-col-news-feed-content {
    margin-bottom: 1rem;
}

.dash-table-container .row{
    margin: 0 auto; 
}

.column-header--sort{
    float: none !important;

}

.stats-table-col .card-body{
    overflow: hidden;
}
.dash-spreadsheet-container table {
    /* Change the default color of hover and Selected objects on chart */
    --accent: none !important;
    --hover: none !important;
    --selected-background: none !important;
    --selected-color: none !important;
}

.dash-table-container .row::-webkit-scrollbar {
    display: none;
}
/* .dash-freeze-top .dash-list-view .dash-no-filter  */
.dash-spreadsheet-inner.dash-spreadsheet.dash-freeze-top.dash-list-view.dash-no-filter  {
    min-height: 99vh !important;
}


.stats-table {
    /* margin-right: 1rem; */
    overflow-y: scroll;
    height: 62vh;
    
    /* Disable scroll bar */
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

/* disable scroll bar */
.stats-table::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.right-col-stats-content.col-2 .card-body {
    padding-top: 0rem;
    padding-bottom:0;
}


.stats-table-div .card{
    height: 68.5vh;
}

.column-header-name {
    font-family: Roboto, sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    /* padding-left: 1rem; */
    /* padding: 1rem; */
    color: white;
}


.dash-cell.column-0 {
    padding-left: 2rem;
}



.dash-table-container td {
    background-clip: padding-box;
    padding: 1rem;
    overflow-x: visible;
    white-space: nowrap;
    height: 30px;
    text-align: left;
}

.dash-cell.column-0 .stats-table-div td {
    /* text-align: left !important; */
    /* padding-left: 0.2rem; */
}

.right-tabs-last-updated-text {
    padding 1rem 0 1rem 0;
    margin: 0;
    font-size: .4rem;
    background: #010915;
}

.right-tabs-last-updated-text.card-footer {
    text-align: right;
    padding-right: 0.5rem;
    padding-top: 1rem;
}

.card-footer:last-child {
    border-radius: 0 0 .4rem 0.4rem;
}


/* overflow disable scroll bar */
.right-col-feed-cards-text {
    overflow-y: scroll;
    /* Match the height except minus the height of the "last updated" text */
    height: calc(60vh - 1rem - 16px);
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    background: none;
    background-color: none;
}

.right-col-feed-cards-text::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.right-col-stats-content .col-2 .card .card-body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.right-col-news-feed-content {
    -ms-overflow-style: none; 
    scrollbar-width: none;  /* Firefox */
}

.right-col-news-feed-content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.stats-table-div .card-body{
    overflow-y: scroll;
    overflow-x: hidden;
    
    scroll-behavior: smooth;
    -ms-overflow-style: none; 
    scrollbar-width: none;

    height: 59vh;
}

/* disable scroll bar */
.stats-table-div .card-body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.right-col-stats-content .col-2 .card .card-body {
    /* height: calc(60vh) !important; */
    overflow: scroll;
    padding-top: 0;
    
}

/* .states-stats-confirmed-list-num {
    font-weight: 700;
    font-size: 0.94rem;
    color: #F4B000;
} */

/* .states-stats-confirmed-list-item.list-group-item {
    margin-top: 0.35rem;
    margin-bottom: 0;
}

.states-stats-deaths-list-item.list-group-item {
    margin-top: 0.35rem;
    margin-bottom: 0;
}

p.states-stats-confirmed-list-txt {
    margin-top: 0.5rem;
 }

.states-stats-confirmed-list-state {
    color:#F4F4F4;
} */

/* p.states-stats-deaths-list-txt {
    margin-top: 0.5rem;
}

.states-stats-deaths-list-num {
    font-weight: 800;
    font-size: 0.94rem;
    color: #D92C25;
}

.states-stats-deaths-list-state {
    color:#F4F4F4;
}

.states-stats-recovered-list-num {
    font-weight: 700;
    color: #B20511;
}

.states-stats-recovered-list-state {
    color:#F4F4F4;
} */


/* Footer 🦶 */
.footer-content {
    background-color: #010915;
    color: #BDBDBD;
}

.footer-disclaimer-content {
    padding-top: 1rem;
    font-size: 0.65rem;
}

.footer-disclaimer-text {
    width: 90%;
}

.footer-social-copyright-content.col-2 {
    /* margin-right: -5rem; */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.fab.fa-github {
    font-size: 2rem;
    color: #BDBDBD;
}

.footer-copyright-text {
    font-size: 1rem;
    text-align: center;
    color: #BDBDBD;
    min-width: 120px;
}

.footer-social-copyright-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 8px;
    padding-right: 45px;
}


.news-item:hover {
    color: rgb(199, 199, 199) !important;
    text-decoration: none !important;
}

.tweet-item:hover {
    color: rgb(199, 199, 199) !important;
    text-decoration: none !important;
}

.tweet-item a:hover {
    text-decoration: none !important;
}
