
/************************ 💻Common 📱 Styling ************************/
/* Fonts */
html {
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #F3F3F3;

}

/* Body */
body {
    background-color: #19202A;
}

.list-group-item{
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: left;
    margin-bottom: 0.5rem;
    background-color: #0b1218;
    /* box-shadow: 4px 4px 6px rgba(0,0,0,0.75); */
}

.list-group-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    transform: translateY(-2px);
}

/*  Nav Bar */
#navbar {
    text-decoration: none;
}

.navbar {
    background-color: #010915;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: none;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none !important;
}


.navbar-brand-covid-19-text {
    margin-left: .2rem;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 2rem;

    }

.navbar-brand-us-cases-text {
    margin-bottom: auto;
    font-weight: normal;
    font-size: 2rem;
    text-shadow: none;
    margin-left: 5%;

}

/* Applies to all Cards 🎴 */
.card-body {
    background-color: #010915;
    padding: 1rem;
    border: none;
}

.card-text {
    margin-top: -.6rem;
    font-weight: normal;
    text-align: center;
}

/************************* 💻 Desktop Styling 💻 **************************/

/* Top Card Section */
.top-bar-content.row {
    margin-left: 0.2rem;
    margin-right: .2rem;
}

.top-bar-card-tested {
    background-color: #010915;
    color: #fefefe;
    text-align: center;
    font-size: .9rem;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem; 
}

.top-bar-value-tested {
    margin-top: -1.1rem;
    /* margin-bottom: 10rem; */
    font-weight: 4rem;
    font-size: 2.75rem;
    text-shadow: none;
}

.top-bar-card-confirmed {
    color: #FEC400;
    text-align: center;
    font-size: .9rem;
    background-color: #010915;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem;
}

.top-bar-value-confirmed {
    margin-top: -1.1rem;
    font-weight: 4rem;
    font-size: 2.75rem;
    text-shadow: none;
}

.top-bar-card-deaths {
    color: #D92C25;
    text-align: center;
    font-size: .9rem;
    background-color: #010915;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem;
}

.top-bar-value-deaths {
    margin-top: -1.1rem;
    font-weight: 4rem;
    font-size: 2.75rem;
    text-shadow: none;
}

.top-bar-card-recovered {
    color: #03DA32;
    text-align: center;
    font-size: .9rem;
    background-color: #010915;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem;
}

.top-bar-value-recovered {
    margin-top: -1.1rem;
    font-weight: 4rem;
    font-size: 2.75rem;
    text-shadow: none;
}

.top-bar-perc-change-tested {
    color: #010915;
    margin-top: -.7rem;
    font-size: .70rem;
}

.top-bar-perc-change-confirmed {
    color: #BDBDBD;
    margin-top: -.7rem;
    font-size: .7rem;
}

.top-bar-perc-change-deaths {
    color: #BDBDBD;
    margin-top: -.7rem;
    font-size: .7rem;
}

.top-bar-perc-change-recovered {
    color: #010915;
    margin-top: -.7rem;
    font-size: .7rem;
}

/* 🌎 Map and Graph 📊 Styling */
.top-bar-us-map-heading-txt{
    font-size: 24px;
    color: #ffffff;
    max-width: 61%;
}

.card-header-tabs{
    margin-right:0%;
}

.col-8 {
    max-width: 61%;
}

.middle-styling {
    flex-wrap: nowrap;
}

.middle-col-map-content {
    margin-left: 2%;
    margin-right: 2%;
}

.graph-styling {
    padding: 0px;
}

/* https://community.plot.ly/t/is-it-possible-to-hide-the-floating-toolbar/4911 */
.modebar{
    display: none !important; 
    /* remove plotly toolbar */
}

/* Bottom Left and Right Charts */

.top-bottom-charts {
    height: 10%;
}

.top-bottom-left-chart{
    height: 10%;
    padding: 0%;
    margin: 0%;
    margin-top: 1rem;
}

.top-bottom-right-chart{
    height: 10%;
    padding: 0%;
    margin: 0%;
    margin-top: 1rem;
}


/* 👈 Left  Twitter 🐦 News 📰 Feed Sidebar */

/* get rid of tab padding */
.card-header {
    max-width:100%;
    padding: 0 0 .75rem 0;
}


.left-col-twitter-feed-content{
    overflow-y: scroll;
    height: 110vh;
    scroll-behavior: smooth;
    margin-bottom: 4rem;
}

.left-col-twitter-feed-content {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.left-col-twitter-feed-content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

p.tweet-dt {
    margin-bottom: 0;
}

.tweets-txt-by-dt{
    margin-bottom: 0.1rem;
}

p.news-txt-by-dt{
    margin-bottom: 0;
}



/* 👉 Right Detailed List Sidebar */

.right-col-news-feed-content{
    overflow-y: scroll;
    height: 110vh;
    scroll-behavior: smooth;
    margin-bottom: 4rem;
}

.right-col-news-feed-content {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.right-col-news-feed-content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.states-stats-confirmed-list-num {
    font-weight: 500;
    color: #FEC400;
}

.states-stats-confirmed-list-state {
    color:#F3F3F3;
}

.states-stats-deaths-list-num {
    font-weight: 500;
    color: #FEC400;
}

.states-stats-deaths-list-state {
    color:#F3F3F3;
}

.states-stats-recovered-list-num {
    font-weight: 500;
    color: #FEC400;
}

.states-stats-recovered-list-state {
    color:#F3F3F3;
}


/* Footer 🦶 */
.footer-content {
    background-color: #010915;
    color: #8B8D91;
}

.footer-disclaimer-content {
    padding-top: 1rem;
    font-size: 0.65rem;
}

.footer-disclaimer-text {
    width: 50rem;
}


.footer-social-copyright-content.col-2 {
    /* margin-right: -5rem; */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.footer-social-icons.mr-3 {
    /* size: 10rem; */
    margin-top: 1rem;
}

.fab.fa-github {
    font-size: 2rem;
    color: #8B8D91;
}

.footer-copyright-text {
    font-size: 1rem;
    text-align: center;
    color: #8B8D91;
}






/********************* 📱 MOBILE STYLING 📱 **********************/

/* Mobile Nav Bar */
.align-items-center.no-gutters.row {
    /* padding: 3% 0 3% 5%; */
    color: #fefefe;
}

.mobile-covid-19-text {
    padding: 6% 0% 0% 0%;
    font-weight: bold;
    font-size: 1.5rem;
    width: 7.75rem;
    margin-bottom: .55rem
}

.mobile-us-cases-text {
    padding: 7% 0 0% 0%;
    font-weight: normal;
    font-size: 1.5rem;
    text-shadow: none;
    margin-bottom: .55rem;
}

.navbar-toggler-icon {
    margin-left: 10%;
    margin-bottom: 3%;
}

.navbar-toggler {
    padding: 0 0 0 0;
}

/* Mobile Card 🎴 section */

.mobile-top-bar-content {
    margin-left: 0rem;
    margin-right: 0rem;
}
.mobile-card-text {
    margin-top: -.75rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: .95rem;
}

.mobile-top-bar-card-tested.list-group-item {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.mobile-top-bar-card-tested {
    background-color: #010915;
    color: #fefefe;
    text-align: center;
    font-size: .9rem;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem; 
    margin-bottom: 1.3rem;
}

.mobile-top-bar-value-tested {
    margin-top: -1.7rem;
    font-weight: 4rem;
    font-size: 2.75rem;
    text-shadow: none;
}

.mobile-top-bar-card-confirmed {
    background-color: #010915;
    color: #FEC400;
    text-align: center;
    font-size: .9rem;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem; 
    margin-bottom: 1.3rem;
}

.mobile-top-bar-value-confirmed {
    margin-top: -1rem;
    font-weight: 4rem;
    font-size: 2.75rem;
    text-shadow: none;
}

.mobile-top-bar-card-recovered.list-group-item {
    /* border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem; */
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.mobile-top-bar-card-deaths {
    background-color: #010915;
    color: #D92C25;
    text-align: center;
    font-size: .9rem;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem; 
    margin-bottom: 1.3rem;
}

.mobile-top-bar-value-deaths {
    margin-top: -1rem;
    font-weight: 4rem;
    font-size: 2.75rem;
    text-shadow: none;
}

.mobile-top-bar-card-recovered {
    background-color: #010915;
    color: #03DA32;
    text-align: center;
    font-size: .9rem;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem; 
    margin-bottom: 1.3rem;
}

.mobile-top-bar-value-recovered {
    margin-top: -1.7rem;
    font-weight: 4rem;
    font-size: 2.75rem;
    text-shadow: none;
}

.mobile-top-bar-perc-change-tested {
    color: #010915;
    margin-top: 0.2rem;
    font-size: .70rem;
}

.mobile-top-bar-perc-change-confirmed {
    color: #BDBDBD;
    margin-top: 0.2rem;
    font-size: .7rem;
}

.mobile-top-bar-perc-change-deaths {
    color: #BDBDBD;
    margin-top: 0.2rem;
    font-size: .7rem;
}

.mobile-top-bar-perc-change-recovered {
    color: #010915;
    margin-top: 0.2rem;
    font-size: .7rem;
}

/* .mobile-card-body {
    padding: 1.2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15)
} */



/* 📱 Mobile Map 🌎*/

.mobile-top-bar-us-map-heading-content {
    margin-top: 0rem;
}

.mobile-top-bar-us-map-heading-txt {
    font-size: 1.25rem;
    font-weight: normal;
    color: #ffffff;
    max-width: 50%;
}

.mobile-confirmed-us-map-tab, .mobile-testing-us-map-tab {
    font-size: 0.75rem;
    text-align: center;
}

/* 📱 Mobile Chart */

.mobile-top-bottom-left-chart-title, .mobile-top-bottom-right-chart-title {
    font-size: 1.25rem;
    font-weight: normal;
    color: #ffffff;
    max-width: 100%;
}
/* 📱 Footer 🦶 */
.mobile-footer-content {
    background-color: #010915;
}

.mobile-footer-disclaimer-content {
    font-size: 0.65rem;
}
.mobile-footer-disclaimer-text {
    padding-top: 2rem;
}

.mobile-footer-disclaimer-content.row {
    /* padding-top: 1rem; */
    font-size: 0.65rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.mobile-footer-social-copyright-content.row {
    padding-bottom: 1.1rem;
}

.mobile-fa-icons {
    font-size: 2rem;
    color: #8B8D91;
    padding-left: 1rem;
}

.mobile-footer-copyright-text {
    /* margin-top: 1rem; */
    font-size: 1rem;
    margin-left: 2rem;
    align-self: center;
    /* margin-bottom: 1rem; */
    /* display: inline-block; */
    color: #8B8D91;
}

/* .div.mobile-footer-content.container-fluid.row {
    padding-top: 10rem;
} */

/* mobile twitter and news feed styling */
.mobile-feed-card-body{
    height: 75vh;
    overflow: scroll;
}