/* Fonts */
html {
    font-family: Roboto, sans-serif;
    font-style: normal;
}

/* Nav Bar */
.navbar {
    background-color: #010915;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.covid-19-text {
    /* display: inline-block; */
    margin-left: 10px;
    color: #F3F3F3;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-shadow: none;
    /* max-width: 1000px; */
}

.us-cases-text {
    
    color: #F3F3F3;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-shadow: none;
}

.col {
    margin-top: 15px;
    width: 188px;
}


/* Body */
body {
    background-color: #19202A;
}

/* Top Card Section */
.top-bar-card-tested {
    color: #fefefe;
    text-align: center;
    font-weight: 3rem;
    background-color: #010915;
}

.top-bar-card-confirmed {
    color: #FEC400;
    text-align: center;
    background-color: #010915;
}

.top-bar-value-confirmed {
    color: #FEC400;
    margin-top: -2vh;
    text-align: center;
    font-weight: 4rem;
    font-size: 45px;
    line-height: 53px;
    text-shadow: none;
}

.card-text {
    /* margin-bottom: 20vh,; */
    margin-top: -1vh;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.top-bar-card-deaths {
    color: #d9534f;
    text-align: center;
    font-weight: 3rem;
    background-color: #010915;
}

.top-bar-card-recovered {
    color: #5cb85d;
    text-align: center;
    font-weight: 3rem;
    background-color: #010915;
}

.top-bar-perc-change-tested {
    color: #010915;
    margin-top: -1vh;
    padding: 0px;
    font-size: 10px;
    line-height: 12px;
}

.top-bar-perc-change-confirmed {
    color: #BDBDBD;
    margin-top: -1vh;
    padding: 0px;
    font-size: 10px;
    line-height: 12px;  
}

.top-bar-perc-change-deaths {
    color: #BDBDBD;
    margin-top: -1vh;
    padding: 0px;
    font-size: 10px;
    line-height: 12px;
}

.top-bar-perc-change-recovered {
    color: #010915;
    margin-top: -1vh;
    padding: 0px;
    font-size: 10px;
    line-height: 12px;
}

.card-body {
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
}



/* Map and Graph Styling */

/* .card-body{
    padding: 0%;
    margin: 1%;
} */

.middle-styling {
    flex-wrap: nowrap;
}

.graph-styling {
    padding: 0px;
}

/* Left Twitter Feed */
.left-col-twitter-feed-content{
    overflow-y: scroll;
    height: 80vh;
}

/* Right News Feed */
.right-col-news-feed-content{
    overflow-y: scroll;
    height: 80vh;
}


/* Footer */
.footer-content {
    background-color: #1f1d1e;
}

.footer-disclaimer-content {
    padding-top: 1rem;
}

.footer-social-icons {
    font-size: 3rem;
}

.footer-copyright-text {
    font-size: large;

}

/* Hide floating toolbar from all charts */
/* https://community.plot.ly/t/is-it-possible-to-hide-the-floating-toolbar/4911 */
.modebar{
    display: none !important;
}

/* MOBILE STYLING */

h2.mobile-map-heading{
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1;
    margin-left: 6.5rem;
}


/* Han: i have no idea how to inherit so copy pasta */
.mobile-top-bar-card-tested {
    color: #fefefe;
    text-align: center;
    font-weight: 3rem;
    margin-bottom: 1.5rem;
}

.mobile-top-bar-card-confirmed {
    color: #efae4e;
    text-align: center;
    margin-bottom: 1.5rem;
}





.mobile-top-bar-card-recovered {
    color: #5cb85d;
    text-align: center;
    margin-bottom: 1.5rem;
}