
/************************ 💻Common 📱 Styling ************************/
/* Fonts */
html {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.01em;
    font-style: normal;
    color: #F3F3F3;

}

/* Body */
body {
    background-color: #19202A;
}

.list-group-item {
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: left;
    margin-bottom: 0.5rem;
    background-color: none;
}

.mobile-us-map-content {
    margin-top: 1rem;
}

.mobile-us-map-content .card-body {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    background-color: #010915;
}

.mobile-top-bar-us-map-heading-content {
    padding-left: 15px;
    padding-right: 15px;
}

.mobile-chart .card-body {
    background-color: #010915;
} 

#mobile-map-tabs .tab.mobile-confirmed-us-map-tab {
    padding: 1rem;
}

.tab.mobile-testing-us-map-tab {
    padding: 1rem;
}

/* 
.tab .mobile-confirmed-us-map-tab {
    padding: 5rem;
}

.mobile-testing-us-map-tab {
    padding: 5rem;
}

.tab-container .mobile-top-bar-us-map-tabs-content {
    padding: 5rem;
} */

/*  Nav Bar */
#navbar {
    text-decoration: none;
}

.navbar {
    background-color: #010915;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: none;
    position: fixed;
    z-index: 10000;
    width: 100vw;
    top: 0;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none !important;
    padding-right: 53px;
}

.page-title-link:hover {
    text-decoration: none;
}

.navbar-brand-covid-19-text {
    margin-left: .5rem;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 2rem;

}

.navbar-brand-us-cases-text {
    margin-bottom: auto;
    font-weight: normal;
    font-size: 2rem;
    text-shadow: none;
    margin-left: 5%;

}

.right-tabs-last-updated-text {
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
    font-size: 11px;
    color: grey;
}

.mobile-right-tabs-last-updated-text {
    padding-left: 1rem;
    padding-top: .95rem;
    padding-bottom: .95rem;
    margin-bottom: 0;
    font-size: 11px;
    color: grey;
}

/* /* /* /* /*         Dropdown Location Menu                   */ 

.dropdown-location-menu .dropdown-toggle {
    background-color: #262a32;
    background-image: none;
    min-width: 150px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: .9rem;
    letter-spacing: .01rem;

}

.dropdown-menu.show {
    transform: translate3d(-1px, 45px, 0px);
    max-width: 150px;
}

.dropdown-menu { 
    min-width: 150px;
    background-color: #62686d;
}

.dropdown-item {
    color: #F4F4F4;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

/* This targets the little drop down arrow on the location button */
.dropdown-location-menu .dropdown-toggle::after {
    margin-left: 43%;
}

.dropdown .btn {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 35px;
}

.navbar-brand-links {
    margin-bottom: auto;
    font-weight: 300;
    font-size: 1.05rem;
    letter-spacing: 0.01rem;
    text-shadow: none;
    padding-left: 2.1rem;
    margin-right: 0rem;
}

.navbar-brand-links:hover {
    text-decoration: none;
}

#navbar-resources-link {
    margin-right: 1.5rem;
    padding-left: 2.3rem;
}

/* Applies to all Cards 🎴 */
.card-body {
    background-color: #1F242D;
    padding: 1rem;
    border: none;
    border-radius: .3rem;
    /* box-shadow: 0px 5px rgba(0, 0, 0, 0.2); */
}

.card-text {
    margin-top: -.6rem;
    font-weight: normal;
    text-align: center;
}

.card {
    background-color: #1F242D;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/************************* 💻 Desktop Styling 💻 **************************/

/* stats black lines */
.states-stats-confirmed-list-item.list-group-item, .states-stats-deaths-list-item.list-group-item {
    border-color: rgba(0, 0, 0, 0.30);
}

/* 📖 About Page Styling 📖 */

/* Every page is given some padding and margin, but I want the about page to fill the whole page so I need to negate it.
This isn't perfect so if anyone knows how to disable .page-content padding on the about page only please fix this */
#about-page {
    margin-left: -50px;
    margin-top: -25px;
}

#page-content {
    margin-top: 73px !important;
}

.about-page-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding-left: 125px;
    margin-bottom: 50px;
    margin-top: 0;
    font-weight: bold;

}

#about-page-second-third .about-page-title {
    padding-left: 125px;
    padding-bottom: 50px;
}

.about-section-title-container {
    border-left: 7px solid #fefefe;
}

.about-section-text-container {
    border-left: 1px solid #fefefe;
    margin-left: 3px;
}


.about-section {
    width: 40vw;
}

.about-section-title {
    font-family: 'Roboto', sans-serif;
    padding-left: 4%;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
}

.about-section-text {
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
}

.about-section-container {
    display: flex;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 75px;
}

#about-page-second-third .about-section-container {
    padding-left: 5vw;
    padding-right: 5vw;
}

.about-section-padding {
    padding-left: 7vw;
    padding-top: 7vw;
}

#about-page-first-third  {
    background-color: #262a32;
    color: #F4F4F4;
    margin-right: 0;
    padding-top: 100px;
}

#about-page-second-third  {
    background-color: #010915;
    color: #F4F4F4;
    background-position: right top;
    background-image: url('../images/map_1.svg');
    background-repeat: no-repeat;
    background-size: 45%;
    padding-top: 100px;
    /* padding-bottom: 50px; */
}

#about-page-third-third  {
    background-color: #D2D2D2;
    padding-left: 10vw;
    color: black;
    padding-bottom: 100px;
    padding-top: 100px;
}

.about-page-third {
    width: 103vw;
    height: 100%;
    padding-top: 50px; 
    margin-right: 0;
}

.top-bar-content {
    padding-top: 1.3rem;
    padding-bottom: .4rem;
    margin-right: 50px;
    margin-left: 50px;
}

.about-source {
    text-align: right;
    font-size: 0.3rem;
}

#about-contributors-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.1rem;
    margin-bottom: 10px;
    text-shadow: none;
    font-weight: bold;
}

#about-contributors-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding-bottom: 3%;
    padding-top:.5%;
    font-weight: 400;
    text-shadow: none;
}

.about-contributor-name {
    font-family: 'Roboto', sans-serif;
    padding-right: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}

.about-contributor-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.about-page-contributors {
    display: flex;
    flex-direction: row;
}

.about-page-contributor {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
    margin-bottom: 1%;
}

.about-contributor-social-icon {
    margin-right: 1%;
    width: 21px;
    height: 21px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.about-contributor-github-icon {
    background-image: url('../images/Github.svg');
}

.about-contributor-linkedin-icon {
    background-image: url('../images/LinkedIN.svg');
}

.about-contributor-twitter-icon {
    background-image: url('../images/Twitter.svg');
}

.mob-about-page-title {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding-left: 10%;
    margin-bottom: 50px;
    margin-top: 0;
    font-weight: bold;
    width: 90%;
    align-items: left;
}

.mob-about-page-contributors {
    display: flex;
    flex-direction: row;
    margin-bottom: .5%;
}

.mob-about-page-contributor {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
    margin-bottom: 1%;
}


.mob-about-contributor-social-icon {
    margin-right: 2.5%;
    width: 18px;
    height: 18px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#mob-about-contributors-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: none;
    font-weight: bold;
}

#mob-about-contributors-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-bottom: 10%;
    padding-top:2%;
    font-weight: 400;
    text-shadow: none;
}

.mob-about-contributor-name {
    font-family: 'Roboto', sans-serif;
    padding-right: 5px;
    font-weight: bold;
    font-size: .9rem;
}

.mob-about-contributor-title {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
}

/* Top Card Section */
.top-bar-content.row {
    margin-left: 0.78rem;
    margin-right: .78rem;
}

.top-bar-content.row .card-body {
    background-color: #010915;
}

.top-bar-card-body .card-body {
    background-color: #010915;
}

.top-bar-card-body {
    padding-left: 12px;
    padding-right: 12px;
}

.top-bar-card-tested {
    background-color: #010915;
    color: #f4f4f4;
    text-align: center;
    font-size: .9rem;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem; 
}

.top-bar-value-tested {
    margin-top: -1.1rem;
    /* margin-bottom: 10rem; */
    font-weight: 4rem;
    font-size: 2.75rem;
    text-shadow: none;
}

.top-bar-card-confirmed {
    color: #FEC400;
    text-align: center;
    font-size: .9rem;
    background-color: #010915;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem;
}

.top-bar-value-confirmed {
    margin-top: -1.1rem;
    font-weight: 4rem;
    font-size: 2.75rem;
    text-shadow: none;
}

.top-bar-card-deaths.card .card-text {
    font-weight: 550;
}

.top-bar-card-deaths {
    color: #DD1E34;
    text-align: center;
    font-size: .9rem;
    background-color: #010915;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem;
}

.card-text-deaths {
    font-weight: 700;
}

.card-text-death-rate {
    font-weight: 700;
}


.top-bar-value-deaths {
    margin-top: -1.1rem;
    font-weight: 4rem;
    font-size: 2.75rem;
    text-shadow: none;
}

.top-bar-card-death.rate.card .card-text {
    font-weight: 600;
}

.top-bar-card-death {
    /* color: #03DA32; */
    color: #B20511;
    text-align: center;
    font-size: .9rem;
    background-color: #010915;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem;
}
/* .top-bar-card-death.card {
    background-color: #010915;
} */

.top-bar-value-death {
    margin-top: -1.1rem;
    font-weight: 4rem;
    font-size: 2.75rem;
    text-shadow: none;
}

.top-bar-perc-change-tested {
    color: #010915;
    margin-top: -.7rem;
    font-size: .70rem;
}

.top-bar-perc-change-confirmed {
    color: #BDBDBD;
    margin-top: -.7rem;
    font-size: .7rem;
}

.top-bar-perc-change-deaths {
    color: #BDBDBD;
    margin-top: -.7rem;
    font-size: .7rem;
}

.top-bar-perc-change-death {
    color: #BDBDBD;
    margin-top: -.7rem;
    font-size: .7rem;
}

/* 🌎 Map and Graph 📊 Styling */

/* .testing-us-map-tab {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../images/drive-thru-icon.png");
    height: 50px;
    margin: 10px;
    padding: 0;
}

.confirmed-us-map-tab {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../images/virus.png");
    height: 50px;
    margin: 10px;
    padding: 0;
} */

#map-loading {
    margin-top: 22vh;
}

#map-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 44vh;
}

#chart-container {
    min-height: 20vh;
}

.main-svg {
    background-color: rgba(0, 0, 0, 0) !important;
}

.middle-col-map-content.col-8 .card{
    /* width: 90%; */
    background-color: #010915;
    /* margin-left: 3.3rem; */
}

.middle-col-map-content.col-8 .card .card-body{
    padding: 0;
    background-color: #010915;
}

.jsx-2597805859.tab.confirmed-us-map-tab.tab--selected, .jsx-2597805859.tab.testing-us-map-tab , .jsx-2597805859.tab.confirmed-us-map-tab {
    min-width: 5rem;
}

.tab-mobile-confirmed-us-map-tab {
    min-width: 5rem;
    padding: 0.7rem;
}

.jsx-2597805859.tab.mobile-confirmed-us-map-tab.tab--selected {
    padding: 0.7rem !important;
    text-align: center;
}

.jsx-2597805859.tab.mobile-testing-us-map-tab {
    padding: 0.7rem !important;
    text-align: center;
}

.tab-mobile-testing-us-map-tab {
    min-width: 5rem;
    padding: 0.7rem;
}



.top-bar-us-map-heading-txt {
    font-size: 0.7rem;
    color: #F4F4F4;
    padding-top: 0.5rem;
    padding-left: 1rem;
    /* max-width: 57%; */
    /* margin-bottom: 1%; */
}

.top-bottom-left-chart-title, .top-bottom-right-chart-title {
    font-size: 1.2rem;
    color: #F4F4F4;
    max-width: 100%;
    margin-bottom: 5%;
}

.card-header-tabs{
    margin-right:0%;
}

.jsx-2597805859.tab.testing-us-map-tab {
    border-top-right-radius: 0.3rem;
}

.middle-col-map-content.col-8 {
    max-width: 65%;
    padding-left: 1rem;
    padding-right: 1rem;
} 

.middle-styling {
    flex-wrap: nowrap;
}

.middle-col-map-content {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.graph-styling {
    padding: 0px;
}

/* https://community.plot.ly/t/is-it-possible-to-hide-the-floating-toolbar/4911 */
.modebar{
    display: none !important; 
    /* remove plotly toolbar */
}

/* Bottom Left and Right Charts */

.top-bottom-charts .card {
    margin-top: .9rem;
    margin-bottom: 3rem;
}

.top-bottom-left-chart.col-6 .card {
    margin-top: 1.2rem;
    margin-right: .7rem;
    margin-bottom: 3rem;
    padding: 1.2rem;
}

.top-bottom-right-chart.col-6 .card {
    margin-top: 1.2rem;
    margin-left: .7rem;
    margin-bottom: 3rem;
    padding: 1.2rem;
}

.top-bottom-charts .card-body {
    background: hsl(216, 91%, 4%);
    padding: 1.2rem;
}

.top-bottom-left-chart{
    height: 7%;
    padding: 0.5%;
}


.top-bottom-right-chart{
    height: 7%;
    padding: 0.5%;
}


/* 👈 Left  Twitter 🐦 News 📰 Feed Sidebar */

/* Active Tab Blur */
.tab--selected {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
    z-index: 100;
    position: relative;
    background-color: #1F242D;

}

.tab:hover {
    color: rgb(199, 199, 199) !important;
}

.tweet-text {
    font-size: .75rem;
}

.middle-map-news-content.mt-3.no-gutters.row {
    margin-left: 1.2rem;
    margin-right: 1rem;
    border: none;
}

.jsx-2597805859.tab.left-news-tab {
    border-top-right-radius: 0.3rem;
}

.jsx-2597805859.tab.left-twitter-tab.tab-selected {
    background-color: #010915;
    background-color: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07), 0px 4px 4px rgba(0, 0, 0, 0.2);
}

/* get rid of tab padding */
.card-header {
    max-width:100%;
    padding: 0 0 .75rem 0;
}

.left-col-twitter-feed-content p {
    margin-bottom: 1rem;
    border-radius: .3rem;
    height: 100%;
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); */
}

.left-col-twitter-feed-content h6 {
    /* color: #F4F4F4; */
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); */
}

.right-col-news-feed-content.col-2 {
    margin-left: 0.3rem;
}

.left-col-twitter-feed-content.col-2 .card .card-body {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.left-col-twitter-feed-content.col-2 .list-group-item {
    background-color: none
}

/* cards inside the sidebar for tweets and news */

.left-col-feed-cards-text .tweet-item.list-group-item {
    border-radius: 0.2rem;
    background-color: none;
}

.right-col-news-feed-content.col-2 {
    margin-left: 0.3rem;
}

.left-col-feed-cards-text .list-group .list-group-flush li {
    background-color: none
}

.tweet-item.list-group-item , .news-item.list-group-item{
    background-color: #010915;
    border: none;
}



/* .tweet-item p */

/* overflow disable scroll bar */
.left-col-feed-cards-text {
    overflow-y: scroll;
    height: 73.5vh;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.left-col-feed-cards-text::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.left-col-twitter-feed-content {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.left-col-twitter-feed-content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.news-item {
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: .3rem !important;
    padding-bottom: 0;
}

/* .news-item:hover {
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
} */
/* .news-item:hover {
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
    background-color: rebeccapurple;
} */

/* .left-col-twitter-feed-content.col-2.list-group-item:hover {
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
    background-color: rebeccapurple;
} */

.tweet-item {
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: .3rem !important;
    padding-bottom: 0;
    line-height: 1.35;
    color: #F4F4F4;
}

p.tweet-dt {
    margin-bottom: 0;
}

/* Tweet/News Acticle Headline and source */

.news-txt-headline {
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.35;
}

.news-txt-by-dt {
    font-size: 0.6rem;
}

.tweet-text {
    font-size: .75rem;
    font-weight: normal;
}

.tweet-dt {
    font-size: 0.6rem;
    color: #F4F4F4;
}

#mobile-feed-tabs-styled-with-inline {
    padding-bottom: 12px;
}

/* .tweet-item.list-group-item a:hover, .news-item.list-group-item a:hover {
    text-decoration: none;
    background: rgba(1, 9, 21, 0.83);
} */


.jsx-1990498210.tab.left-twitter-tab.tab--selected {
    border-top-left-radius: 0.3rem;
}

.left-twitter-tab {
    border-top-left-radius: 0.3rem;
} 


.left-col-twitter-feed-content .card-body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.left-col-twitter-feed-content .card-body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



/* 👉👉👉👉 Right Detailed List Sidebar */

#stats-content {
    margin-bottom: 0;
}

.right-col-news-feed-content{
    margin-bottom: 1rem;
}

.right-col-feed-cards-text {
    background: none;
    background-color: none;
}

.right-col-stats-content .card-body {
    height: calc(64vh + 74px) !important;
    overflow: scroll;
    padding-top: 0;
}
.right-col-stats-content .card-body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.states-stats-confirmed-list-item.list-group-item {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    background-color: none;
    background: none;
    padding: 0.05rem;
}

.states-stats-deaths-list-item.list-group-item {
    background-color: none;
    background: none;
    padding: 0;
    padding: 0.05rem;
    /* border-bottom: 100px;
    border-color: #0B1319; */
}


#recovery-tab {
    border-top-right-radius: 0.3rem;
}

/* overflow disable scroll bar */
.right-col-feed-cards-text {
    overflow-y: scroll;
    height: 73.5vh;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.right-col-feed-cards-text::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.right-col-news-feed-content {
    -ms-overflow-style: none; 
    scrollbar-width: none;  /* Firefox */
}

.right-col-news-feed-content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.states-stats-confirmed-list-num {
    /* changed this font weight...even with deaths list? */
    font-weight: 700;
    /* width: 34%; */
    font-size: 0.94rem;
    color: #F4B000;
}

.states-stats-confirmed-list-item.list-group-item {
    margin-top: 0.35rem;
    margin-bottom: 0;
}

.states-stats-deaths-list-item.list-group-item {
    margin-top: 0.35rem;
    margin-bottom: 0;
}


p.states-stats-confirmed-list-txt {
    margin-top: 0.5rem;
 }

.states-stats-confirmed-list-state {
    color:#F4F4F4;
}

p.states-stats-deaths-list-txt {
    margin-top: 0.5rem;
}

.states-stats-deaths-list-num {
    font-weight: 800;
    font-size: 0.94rem;
    color: #D92C25;
}

.states-stats-deaths-list-state {
    color:#F4F4F4;
}

.states-stats-recovered-list-num {
    font-weight: 700;
    /* color: #03DA32; */
    color: #B20511;
}

.states-stats-recovered-list-state {
    color:#F4F4F4;
}


/* Footer 🦶 */
.footer-content {
    background-color: #010915;
    color: #BDBDBD;
}

.footer-disclaimer-content {
    padding-top: 1rem;
    font-size: 0.65rem;
}

.footer-disclaimer-text {
    width: 57rem;
}

.footer-social-copyright-content.col-2 {
    /* margin-right: -5rem; */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.fab.fa-github {
    font-size: 2rem;
    color: #BDBDBD;
}

.footer-copyright-text {
    font-size: 1rem;
    text-align: center;
    color: #BDBDBD;
    min-width: 120px;
}

.footer-social-copyright-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 8px;
    padding-right: 45px;
}


/******************************************************************/
/********************* 📱 MOBILE STYLING 📱 **********************/
/******************************************************************/

/* Mobile Nav Bar */
.align-items-center.no-gutters.row {
    /* padding: 3% 0 3% 5%; */
    color: #F4F4F4;
}

.mobile-covid-19-text {
    padding: 6% 0% 0% 0%;
    font-weight: bold;
    font-size: 1.5rem;
    width: 7.75rem;
    margin-bottom: .55rem
}

.mobile-us-cases-text {
    padding: 7% 0 0% 0%;
    font-weight: normal;
    font-size: 1.5rem;
    text-shadow: none;
    margin-bottom: .55rem;
}

.navbar-toggler-icon {
    margin-left: 10%;
    margin-bottom: 3%;
    color: #F4F4F4;
}

.navbar-toggler {
    padding: 0 0 0 0;
}

.fixed-navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10000;
}

/* Mobile Card 🎴 section */

.mobile-top-bar-content {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3.1rem;
}

.mobile-top-bar-content .list-group {
    height: 87vh; 
    justify-content: space-evenly;
}

.mobile-card-text {
    margin-top: -.75rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: .95rem;
}

.mobile-top-bar-card-tested.list-group-item {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.mobile-top-bar-card-tested {
    background-color: #010915;
    color: #F4F4F4;
    text-align: center;
    font-size: .75rem;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem; 
    /* margin-bottom: 1.3rem; */
}

.mobile-top-bar-value-tested {
    margin-top: -1rem;
    font-weight: 500;
    font-size: 2.75rem;
    text-shadow: none;
}

.mobile-top-bar-card-confirmed {
    background-color: #010915;
    color: #FEC400;
    text-align: center;
    font-size: .75rem;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem; 
    /* margin-bottom: 1.3rem; */
}

.mobile-top-bar-value-confirmed {
    margin-top: -1rem;
    font-weight: 500;
    font-size: 2.75rem;
    text-shadow: none;
}

.mobile-top-bar-card-death.list-group-item {
    /* border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem; */
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.mobile-top-bar-card-deaths {
    background-color: #010915;
    color: #D92C25;
    text-align: center;
    font-size: .75rem;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem; 
    /* margin-bottom: 1.3rem; */
}
.mobile-top-bar-card-deaths .mobile-card-text {
    font-weight: 650;
}


.mobile-top-bar-value-deaths {
    margin-top: -1rem;
    font-weight: 500;
    font-size: 2.75rem;
    text-shadow: none;
}

.mobile-top-bar-card-death {
    background-color: #010915;
    /* color: #03DA32; */
    color: #B20511;
    text-align: center;
    font-size: .75rem;
    border: none;
    border-radius: .3rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: .2rem; 
    /* margin-bottom: 1.3rem; */
}

.mobile-top-bar-card-death .mobile-card-text {
    font-weight: 650;
}

.mobile-top-bar-value-death {
    margin-top: -1rem;
    font-weight: 500;
    font-size: 2.75rem;
    text-shadow: none;
}

.mobile-top-bar-perc-change-tested {
    color: #010915;
    margin-top: 0.2rem;
    font-size: .70rem;
}


.mobile-top-bar-perc-change-confirmed {
    color: #BDBDBD;
    margin-top: 0.2rem;
    font-size: .7rem;
}

.mobile-top-bar-perc-change-deaths {
    color: #BDBDBD;
    margin-top: 0.2rem;
    font-size: .7rem;
}

.mobile-top-bar-perc-change-death {
    color: #BDBDBD;
    margin-top: 0.2rem;
    font-size: .7rem;
}

/* .mobile-card-body {
    padding: 1.2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15)
} */



/* 📱 Mobile Map 🌎*/

.mobile-top-bar-us-map-heading-content {
    margin-top: 0rem;
    padding-right: 0 !important;
}

.mobile-top-bar-us-map-heading-txt {
    font-size: 1rem;
    font-weight: normal;
    color: #F4F4F4;
    padding-top: 0.35rem;
    max-width: 50%;
}

.mobile-confirmed-us-map-tab, .mobile-testing-us-map-tab {
    font-size: 0.75rem;
    text-align: center;
}
.tab.mobile-confirmed-us-map-tab {
    padding: 0.7rem !important;
}

.tab.mobile-testing-us-map-tab, .jsx-2597805859.tab.mobile-testing-us-map-tab {
    border-top-right-radius: 0.3rem !important;
}    

/* 📱 Mobile Chart */

.mobile-top-bottom-left-chart-title, .mobile-top-bottom-right-chart-title {
    font-size: 1.25rem;
    font-weight: normal;
    color: #F4F4F4;
    max-width: 100%;
    padding-left: .2rem;
    padding-bottom: 1rem;
}


/* Mobile Stats Content */

.mobile-right-col-stats-content.col-2 {
    max-width: 100%;
    /* padding-right: 0;
    padding-left: 0; */
    margin-top: 3rem;
    margin-bottom: 2rem;
    max-height: 30%;
}

/* Mobile Twitter and News */
.mobile-feed-content {
    padding: 1rem;
}



/* 📱 Footer 🦶 */
.mobile-footer-content {
    background-color: #010915;
}

.mobile-footer-disclaimer-content {
    font-size: 0.65rem;
}
.mobile-footer-disclaimer-text {
    padding-top: 2rem;
}

.mobile-footer-disclaimer-content.row {
    /* padding-top: 1rem; */
    font-size: 0.65rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.mobile-footer-social-copyright-content.row {
    padding-bottom: 1.1rem;
}

.mobile-fa-icons {
    font-size: 2rem;
    color: #BDBDBD;
    padding-left: 1rem;
}

.mobile-footer-copyright-text {
    /* margin-top: 1rem; */
    font-size: 1rem;
    margin-left: 2rem;
    align-self: center;
    /* margin-bottom: 1rem; */
    /* display: inline-block; */
    color: #BDBDBD;
}

/* 📱 END Footer 🦶 */

/* mobile twitter and news feed styling */
.mobile-feed-card-body{
    height: 60vh;
    overflow: scroll;
}

.left-col-twitter-feed-content .card-body {
    height: calc(64vh + 74px + 32px) !important;
    overflow: scroll;
}   

.mobile-stats-card-body {
    height: 60vh;
    overflow: scroll;
    padding-top: 0;
}

.middle-map-news-content {
    margin-left: 100px;
}

.middle-map-news-content.mt-3.no-gutters.row {
    margin-left: 23px;
}

.mobile-twitter-feed-tab {
    border-top-left-radius: 0.3rem;
}

.mobile-news-feed-tab {
    border-top-right-radius: 0.3rem;
}

.tab.mobile-left-twitter-tab {
    border-top-left-radius: 0.3rem;
}

.tab.mobile-left-news-tab {
    border-top-right-radius: 0.3rem;
}

/* Hamburger menu overlay */
.hidden-menu-div {
    background-color: #010915;
    width: 100vw;
    height: 100vh;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -0.65rem;
    padding-bottom: 8rem;
}

.hidden-menu-div a {
    font-size: 2.4rem
}


/* 📖 About Page Mobile-Specific Styling 📖 */

#mobile-about-page {
    margin-left: -15px;
    margin-top: -25px;
}

.mob-about-section-title-container {
    border-left: 7px solid #fefefe;
    margin-left: 5%;
}

.mob-about-section-text-container {
    border-left: 1px solid #fefefe;
    margin-left: 5.7%;
}

#mobile-about-page .about-section-container {
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 7vw;
}

#mobile-about-page #about-page-first-third {
    padding-top: 100px;
    color: #F4F4F4;
}

#mobile-about-page #about-page-third-third {
    background-color: #D2D2D2;
    padding-left: 20px;
    color: black;
    padding-bottom: 100px;
    padding-top: 100px;
    font-size: .8rem;
}

#mobile-about-page .about-section {
    width: 90%;
}
/* About Page Styling End */



 /* organize this mess back into the right section :(  */
.news-item:hover {
    color: rgb(199, 199, 199) !important;
    text-decoration: none !important;
}

.tweet-item:hover {
    color: rgb(199, 199, 199) !important;
    text-decoration: none !important;
}

.tweet-item a:hover {
    text-decoration: none !important;
}

/* end of mess */


